@import "tailwindcss";

@layer components {

  .text-primary{color: #6312A0;}
  .text-secondary{color: #A384F5;}
  
  .bg-primary{background-color: #6312A0;}
  .bg-secondary {background-color: #A384F5}
  .btn-primary {background-color: #A384F5}

  .card {
    /* @apply bg-white shadow rounded p-4; */
  }

  .page-title {
    /* @apply text-2xl font-bold text-gray-700 mb-4; */
  }
}

body{
  overflow: hidden;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

/* h1, h2, h3, h4 {
  @apply font-semibold text-gray-800;
}

a {
  @apply no-underline;
} */